@font-face {
    font-family: LatoBold;
    src: url (assets/lato-bold.ttf);
}
@font-face {
    font-family: LatoThin;
    src: url (assets/lato-thin.ttf);
}
@font-face {
    font-family: LatoRegular;
    src: url (assets/lato-regular.ttf);
}
*{
    font-family: LatoBold, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1024px;
    margin: 0 auto;
    padding: 0 42px;
}