@font-face {
    font-family: 'LatoBold';
    src: url('./assets/lato-bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoThin';
    src: url('./assets/lato-thin.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoRegular';
    src: url('./assets/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: LatoRegular, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 42px;
}
header {
    background-color: #2d303a;
    color: white;
    position: relative;
    box-shadow: 0px 6px 0px #323746;
    z-index: 9;
    max-width: 1020px;
    
}
h1 {
    font-size: 25px;
    letter-spacing: -0.5px;
    margin-top: -4px;
    margin-left: -2px;
    font-weight: 500;
    }
h1::after {
    content: "*";
    color: #d3635d;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 90px;
}

.navigation ul {
    display: flex;
    font-size: 12px;
    letter-spacing: 0px;
  }
.navigation ul li {
    list-style-position: inside;
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 8px;
    color: #494e62;
}
.navigation ul li span {
    color: white;
}
.navigation ul li span:hover {
    cursor: pointer;
    color: #f06c64;
}
.navigation ul li:first-child {
    list-style: none;
}
.navigation ul li:first-child span {
    color: #f06c64;
}
.slider {
    background-color: #f06c64;
    height: 600px;
    box-shadow: 0px 6px 0px #ea676b;
    position: relative;
    max-width: 1020px;   
}
.slider .arrow {
    cursor: pointer;
    position: absolute;
    top: 47.5%;
}
.arrow-left {
    left: 4%;
}
.arrow-right {
    right: 3.9%;
}
.slider img {
    position: absolute;
}
.iPhone {
    display: flex;
}
.iPhone-vertical {
    left: 112px;
    top: 58px;
}
.iPhone-horizontal {
    right: 111px;
    top: 179px;
}
.services {
    background-color: #f2f2f2;
    padding-bottom: 29px;
    margin-bottom: 6px;
    max-width: 1020px;
}
.services .container {
    padding-top: 65px;
}
.services h2 {
    color: #666d89;
    font-size: 30px;
    font-family: LatoBold, sans-serif;
    margin-left: -2px;
    margin-top: -1px;
    font-weight: 700;
}
.services-about {
    margin-left: -2px;
    margin-top: 18px;
    margin-bottom: 46px;
    font-size: 18px;
    color: #767e9e;
    line-height: 30px;
    letter-spacing: -0.2px;
    word-spacing: 0.4px;
}
.services-about span {
    letter-spacing: -0.15px;
    word-spacing: -1.2px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1020px;
    margin-top: 0px;
}
.services-element {
    display: flex;
    align-items: flex-start;
    max-width: 31.6%;
    color: #666d89;
    margin-bottom: 30px;
    
}
.services-text {
    margin-left: 19px;
    margin-top: -3px;
    overflow: hidden;
}
.services-text h3 {
    font-family: LatoBold, sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    margin-bottom: 8px;
}
.services-text p {
    color: #767e9e;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    max-height: 136px;
    word-spacing: -0.1px;
    overflow: hidden;
}